<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <% if current_user %>
        <div class="level">
          <div class="card-image level-item has-text-centered">
            <figure class="image is-128x128 is-inline-block">
              <img class="image is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </div>
          <div class="container">
            <h3 class="has-text-centered is-size-4">
              <%= current_user.first_name %> <%= current_user.last_name %>
            </h3>
          </div>
          <div class="container mt-6">
            <h1 class="title mb-4 is-uppercase has-text-weight-bold is-size-5">Personal Info</h1>
            <h2><% resource_name.to_s.humanize %></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <div>
                  <p class="is-size-6">
                    <%= f.input :first_name, :label => "First name ",required: true %>
                  </p>
                  <p class="is-size-6">
                    <%= f.input :last_name, :label => "Last name ",required: true %>
                  </p>
                  <p class="is-size-6">
                    <%= f.input :address, required: true %>
                  </p>
                  <p class="is-size-6">
                    <%= f.input :phone_number, required: true %>
                  </p>
                  <p class="is-size-6">
                    <%= f.input :birth_date, :label => "Birth date ", required: true %>
                  </p>
                </div>
                <div>
                  <%= f.input :password,
                              hint: " (leave it blank if you don't want to change it)",
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :current_password,
                              hint: "we need your current password to confirm your changes",
                              required: true,
                              input_html: { autocomplete: "current-password" } %>
                </div>

              </div>

              <div class="form-actions mt-4">
                <%= f.button :submit, "Update", class: "button btn-width is-dark level-item has-text-centered is-small" %>
                <%= link_to "Back", :back, class: "button is-dark level-item has-text-centered is-small" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <p class="has-text-centered"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-light level-item has-text-centered is-small" %></p>
    </div>
  </div>
</section>
