<section class="section pt-5 pb-0">
  <span id="user_id" data-current-user="<%= current_user.id %>"></span>
  <div class="is-fluid show-chatroom">

    <div class="">
      <h1 class="has-text-weight-bold">Safely's Support</h1>
      <!-- <h1>#<%= @chatroom.name %></h1> -->
      <div class="row">
        <div class="message-layout">
          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <div class="message-container <%= current_user == message.user ? "current_user_true" : "current_user_false" %>" id="message-<%= message.id %>">
                <div class="author is-flex">
                  <div>
                    <span><%= message.user.nickname %></span>
                  </div>
                  <div class="is-size-7">
                    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                  </div>
                </div>
                <p><%= message.content %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <form action="/chatrooms/1/messages" method="post"></form> -->

  <div class="is-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 chatbar">
        <div class="message-box is-flex is-justify-content-center">
          <div class="message-text chat-dropdown">
            <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
              <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}", input_html: {autocomplete: "off"} %>
          </div>
          <div class="message-icon is-flex">
            <%= button_tag(type: "submit", class: "btn-default") do %>
              <i class="fas fa-paper-plane fa-lg message-icon"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>
