<section class="section">
  <div class="card px-2 py-2 mt-5">
    <div class="card-header is-shadowless">
      <h3 class="card-header-title is-centered"><%= @item_design.name %></h3>
    </div>
    <div class="show-card px-3 pt-3 pb-5">
      <%= image_tag "item_designs/#{@item_design.item_type.downcase}s/#{@item_design.name}.png", class: "show-image" %>
    </div>
  </div>

  <div>
    <%= simple_form_for @secured_item do |f| %>
      <div class="card px-2 py-2 mb-5">
        <div class="subscriptions">
          <%= f.input_field :subscription_ids, as: :check_boxes,
           :collection => @subscriptions,
           :label_method => lambda { |subscription|
              "<div class=\"subscription-infos\">
                <h3>#{subscription.subscription_type}</h3>
                <h3 price-data=\"#{subscription.price}\">#{subscription.price.format}</h3><br>
              </div>".html_safe
            },
           label: false,
           include_hidden: false,
           class: "switch is-info is-rtl" %>
        </div>
        <div id="total">
        </div>
      </div>

      <%= f.hidden_field :item_design_id, value: @item_design.id %>
      <div class="card px-2 py-2 mb-5">

        <%= f.input :use_date, as: :boolean,
            :label => "   (Optional) Select start/end date for your insurance.", class: "switch is-info is-rtl" %>

        <div class="px-2 py-2">
          <%= f.input :activation_date, as: :date, :label => "Start Date",
              start_year: Date.today.year,
              end_year: Date.today.year %>
        </div>
        <div class="px-2 py-2">
          <%= f.input :expiration_date, as: :date, :label => "End Date",
              start_year: Date.today.year,
              end_year: Date.today.year %>
        </div>
      </div>
      <div class="has-text-centered">
        <%= f.button :submit, "Insure this item", class: "button is-dark" %>
      </div>
    <% end %>
  </div>

</section>



