<section class="section">
  <div class="card px-2 py-2 mt-5">
    <div class="card-header is-shadowless">
      <h3 class="card-header-title is-centered"><%= @item_design.name %></h3>
    </div>
    <div class="show-card">
      <%= image_tag @item_design.design, class: "show-image" %>
    </div>
  </div>

  <div>
    <%= simple_form_for @secured_item do |f| %>
      <div class="card px-2 py-2 mb-5">
        <%= f.input_field :subscriptions, as: :check_boxes, :collection => @subscriptions,
         :label_method => lambda { |subscription|
            "<div class=\"test\">
              <h3>#{subscription.subscription_type}</h3>
              <h3>#{subscription.price.format}</h3><br>
            </div>".html_safe
          },
         label: false,
         include_hidden: false %>
      </div>
      <%= f.hidden_field :item_design_id, value: @item_design.id %>
      <div>
        <%= f.button :submit, "Insure this item", class: "button is-dark" %>
      </div>
    <% end %>
  </div>

</section>



