<section class="section pb-5">
  <div class="">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Search an item</h1>
        <%= form_tag(item_designs_path, method: "get") do %>
        <%#= select_tag "search", options_from_collection_for_select(ItemDesign.all, :name, :name), class: 'select2'%>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <%= link_to item_designs_path(item_type: "Car") do %><br>
      <div class="card px-2 pt-2 is-flex">
        <div class="card-image">
          <figure class="image is-96x96">

          </figure>
        </div>
        <div class="card-content">
          <div class="card-content-title pb-2">
            <h2 class="has-text-weight-bold">
              <p>Car Insurance</p>
             </h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container">
    <%= link_to item_designs_path(item_type: "Phone") do %><br>
      <div class="card px-2 pt-2 is-flex">
        <div class="card-image">
          <figure class="image is-96x96">

          </figure>
        </div>
        <div class="card-content">
          <div class="card-content-title pb-2">
            <h2 class="has-text-weight-bold">
              <p>Mobile Phone Insurance</p>
             </h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="container">
    <%= link_to item_designs_path(item_type: "Notebook") do %><br>
      <div class="card px-2 pt-2 is-flex">
        <div class="card-image">
          <figure class="image is-96x96">

          </figure>
        </div>
        <div class="card-content">
          <div class="card-content-title pb-2">
            <h2 class="has-text-weight-bold">
              <p>Notebook Insurance</p>
             </h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</section>
