<section class="section pb-5">
  <div class="">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Search an item</h1>
        <%= form_tag(item_designs_path, method: "get") do %>
        <%#= select_tag "search", options_from_collection_for_select(ItemDesign.all, :name, :name), class: 'select2'%>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</section>
<%= link_to "Car Insurance", item_designs_path(item_type: "Car") %><br>
<%= link_to "Mobile Phone Insurance", item_designs_path(item_type: "Phone") %><br>
<%= link_to "Notebook Insurance", item_designs_path(item_type: "Notebook") %>

