<% if current_user %>
  <h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
<% end %>

<div>
  <h3>My items</h3>
  <% unless @user_items.nil? %>
    <% @user_items.each do |user_item| %>
      <div>
        <h4><%= user_item.item_design.name %></h4>
        <% if user_item.activation_date.nil? %>
          <%= button_to "Activate", secured_item_path(user_item),
              method: :patch, data: { confirm: "Please confirm the insurance activation." } %>
        <% else %>
          <%= button_to "Deactivate", secured_item_path(user_item),
              method: :patch, data: { confirm: "Please confirm the insurance deactivation." } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h1>You still don't have any insurance options</h1>
    <%= link_to "Add Some", item_designs_path %>
  <% end %>
</div>

<div>
  <% unless @expired_items.nil? %>
    <h3>Insure Again</h3>
    <% @expired_items.each do |expired_item| %>
      <%= button_to "#{expired_item.item_design.name}", item_design_path(expired_item.item_design),
          method: :get %>
    <% end %>
  <% end %>
</div>
